@import url(styles.css);
@import url(styles/pop_up.css);
@import url(styles/lista.css);
@import url(styles/conteudo.css);

:rool{
    font-display: inherit;

}

body{
    background-image: url(imagens/geometric.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: ;
}